<h2>Payment Summary</h2>

<p>Base Amount: ₹{{ base_amount }}</p>
<p>GST (18%): ₹{{ gst }}</p>
<p><strong>Total: ₹{{ total }}</strong></p>

<button id="pay-btn">Pay Now</button>

<form id="success-form" method="POST" action="/payment-success/{{ reg_id }}/">
    {% csrf_token %}
    <input type="hidden" name="razorpay_payment_id">
    <input type="hidden" name="razorpay_order_id">
    <input type="hidden" name="razorpay_signature">
</form>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "{{ razorpay_key }}",
    "amount": "{{ amount }}",
    "currency": "INR",
    "order_id": "{{ order_id }}",

    "handler": function (response){
        document.querySelector('[name="razorpay_payment_id"]').value = response.razorpay_payment_id;
        document.querySelector('[name="razorpay_order_id"]').value = response.razorpay_order_id;
        document.querySelector('[name="razorpay_signature"]').value = response.razorpay_signature;

        document.getElementById("success-form").submit();
    }
};

var rzp = new Razorpay(options);

document.getElementById('pay-btn').onclick = function(e){
    rzp.open();
    e.preventDefault();
}
</script>